//@import '~bootstrap/dist/css/bootstrap.css';
@import './variables.less';
@import '../modules/menu/menu.less';
@import '../modules/home/home.less';
@import '../modules/todoList/todo-list.less';
//@import '../modules/book/book.less';
//@import '../modules/booklist/booklist.less';
@import '../modules/singleBook/single.less';
@import '../modules/header/main-header.less';

/* CORE STYLES */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: @font_family_1;
	line-height: 1.4;
}

.content-section {
	padding: 3rem 0 10rem 0;
}

//typography
h1 {
	font-size: 4rem;
	font-weight: 400;
}
